@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

/*set font, centering and background for site*/
body {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  background-image: url('../images/playstation-pattern.png');
}

/*style button*/
button {
  font-family: 'Chelsea Market', cursive;
  padding: 10px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: 1px solid;
  border-radius: 5px;
}

/*style button when mouseover*/
button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*style button when clicked*/
button:active {
  background-color: green;
  color: black;
  border: 1px solid green;
}

/*remove button blue outline*/
button:focus {
  outline: 0;
}

/*center table*/
table {
  margin-left: auto;
  margin-right: auto;
}

/*style each box*/
td {
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 75px;
}

/*style status div*/
.status {
  font-size: 36px;
}
